main{
    padding-top: 15vw;
}

header{
    background-color: #DFEEEA;
}

#cart-color {
    background-color: #3a656b;
}

#cart-color {
    color: white;
}

#logoH1Titel{
 color: #254245; 
}
#logoH3Titel{
    color:#62A894;
}
#navList a{
    color: #254245;
}

#cartTable {
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#cartTable tr th {
    background-color: #c7ebe1;
    width: 200px;
    padding: 20px 0;
    font-size: large;
    font-weight: 700;
}

#cartTable tr td {
    vertical-align: middle;
    width: 200px;
    text-align: center;
    margin-top: 100px;
    border-bottom: 1px solid black;
}

#tableBody td:nth-child(1) img {
    width: 10vw;
    height: 12vw;
}

#tableBody td:nth-child(3) {
    display: flex;
    padding-bottom: 6vw;
    justify-content: space-between;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#tableBody td:nth-child(3) button {
    background-color: transparent ;
    border: none;
    
}
#tableBody td:nth-child(3) button i {
    margin-left: -6px;
    margin-top: -4px;
}

#tableBody td:nth-child(3) button i:hover {
    color: tomato;
    transition: 0.3s;
}

#tableFooter td {
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: large;
    font-weight: 600;

}

#tableBody td:nth-child(5) button {
    background-color: transparent;
    border: none;
}

#tableBody td:nth-child(5) button i:hover {
    color: tomato;
    transition: 0.3s;
}

legend {
    text-align: center;
    padding-bottom: 50px;
    font-weight: 800;
    font-size: xx-large;
}


#tableButton {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#tableButton button {
    
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 40px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.5s;
    font-size: 25px;
}
#tableButton button:hover{
    background: #563434;


}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #titulo-area{
     font-size: 20px;
     font-weight: 800; 
    
 }

 #card-area-titulo{
     font-size: 20px;
     font-weight: 800; 
 }


span{
   color: white;
} 

.flex-area h3{
    color: white;
}

.material-icons{

    color:  white;
}


#maquininha{
    color:  white;
    
}

.modal-content p{
 text-align: center;
 font-size: 25px;
 font-weight: 800;
}






input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield}.global{overflow:hidden}button{cursor:pointer}button:focus,input:focus,select:focus,textarea:focus{outline:none}.marca-cartao{opacity:0;transform:translate(150%);transition:.3s}.marca-cartao-entra{opacity:1;transform:translate(0)}input{border:none;width:100%}h3{font-size:28px}.w-100{width:100%}.w-50{width:50%}.w-48{width:48%}.flex-area{display:flex}.wrap{flex-wrap:wrap}.j-center{justify-content:center}.j-start{justify-content:flex-start}.j-end{justify-content:flex-end}.j-space-between{justify-content:space-between}.a-items-center{align-items:center}.a-items-start{align-items:start}.card-area,.resumo-pedido-area{margin:50px auto;max-width:460px;width:95%}.card-area h2,.resumo-pedido-area h2{margin-bottom:10px}.resumo-pedido-area{margin:50px auto;position:relative}.resumo-pedido-area .bordinha-nice{background:#20163d;border-bottom-left-radius:36px;border-bottom-right-radius:36px;bottom:-6px;height:13px;left:50%;opacity:0;position:absolute;transform:translate(-50%);transition:.3s;width:79%}.resumo-pedido-area .bordinha-nice:after{background:rgba(0,0,0,.7);border-radius:5px;bottom:3px;content:"";height:4px;left:50%;position:absolute;transform:translate(-50%);width:68%}.flip-container{height:346px;perspective:1000px;position:relative;transition:.6s;width:100%}.flipper{height:100%;left:0;position:absolute;top:0;transform-origin:50% 50%;transform-style:preserve-3d;width:100%}.cartao-back,.cartao-front{backface-visibility:hidden}.cartao-front{z-index:2}.cartao-back{left:0;position:absolute;top:0;transform:rotate(180deg) rotateX(180deg) translate(0);transition:.3s}.cartao-back .chip{height:auto;width:20%}.anima-flipper{animation:infiaMaquina 3s ease both}.anima-flipper .cartao-front{animation:fadeOut 1s ease both}@keyframes fadeOut{0%{opacity:1}to{opacity:0}}.anima-cartao-back{animation:arrumaPosicao 1s .2s both}@keyframes arrumaPosicao{0%{left:0;top:0;transform:rotate(180deg) rotateX(180deg) translate(0)}to{left:0;top:50%;transform:rotate(180deg) rotateX(180deg) translateY(-50%)}}.anima-cartao-back label{margin-bottom:10px}.anima-cartao-back h3{color:hsla(0,0%,100%,.3);font-size:18px;text-shadow:1px 1px 1px rgba(0,0,0,.8),0 -1px 1px hsla(0,0%,100%,.8)}@keyframes infiaMaquina{0%{left:0;top:0;transform:rotateY(0deg) rotateX(0deg) rotate(0deg) translate(0)}25%{left:0;top:0;transform:rotateY(180deg) rotateX(0deg) rotate(0deg) translate(0)}50%{left:50%;top:50%;transform:rotateY(180deg) rotateX(0deg) rotate(90deg) translate(-50%,-50%);transform-origin:53.5% 50%;width:70%}70%{width:70%}85%{left:50%;top:50%;transform:rotateY(180deg) rotateX(0deg) rotate(90deg) translate(-50%,-50%);transform-origin:53.5% 50%;width:70%}to{left:50%;top:50%;transform:rotateY(180deg) rotateX(0deg) rotate(90deg) translate(-110%,-50%);transform-origin:53.5% 50%;width:70%}}.cartao{background:#5E8B7E;background:-moz-linear-gradient(45deg,#5E8B7E 0,#2F5D62 100%);background:-webkit-linear-gradient(45deg,#5E8B7E,#2F5D62);background:linear-gradient(45deg,#5E8B7E,#2F5D62);border-radius:10px;box-shadow:0 4px 8px rgba(0,0,0,.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#35E8B7E",endColorstr="#2F5D62",GradientType=1);overflow:hidden;padding:35px;width:100%}.cartao .header-cartao{margin-bottom:30px}.cartao .header-cartao-titulo{white-space:nowrap}.cartao label{display:flex;flex-direction:column;margin-bottom:20px;position:relative}.cartao label span{margin-bottom:5px}.cartao label .input-area{position:relative}.cartao label .input-area input{background:hsla(0,0%,100%,.15);color:hsla(0,0%,100%,.8);font-size:18px;padding:5px 10px}.cartao label .input-area i{opacity:.5;position:absolute;right:5px;top:50%;transform:translateY(-50%)}.resumo-pedido-area .cartao{padding:25px 35px}.resumo-pedido-area .cartao .flex-area{margin-bottom:12px}.resumo-pedido-area .cartao .flex-area p{font-size:14px}.resumo-pedido-area .cartao .flex-area:last-child{margin-bottom:0}.resumo-pedido-area .cartao .total{border:2px solid hsla(0,0%,100%,0);border-top-color:hsla(0,0%,100%,.5);margin-bottom:0;padding-top:10px;position:relative;transition:.5s}.btn-comprar{background:none;background:#3ab245;border:none;border-radius:3px;box-shadow:0 4px 8px rgba(0,0,0,.25);color:#fff;cursor:pointer;font-family:Nunito,sans-serif;font-size:18px;font-weight:400;margin:30px 0 0;overflow:hidden;padding:10px 15px;position:relative;transition:.3s}.btn-comprar:hover{background:#38cc46}.maquininha{align-items:center;border-bottom:0 solid #20163d;display:flex;flex-wrap:wrap;justify-content:center;position:relative}.maquininha .flex-area{width:100%}.animacao-maquininha{align-items:flex-end;display:flex;flex-wrap:wrap;transition:.3s}svg path,svg rect{fill:#fff}.loading-area{align-items:center;bottom:30px;display:flex;height:auto;justify-content:center;left:50%;position:absolute;transform:translate(-50%);width:90%}.loading-area .svg-loading{opacity:0}.loading-area .feedback-sucesso{left:50%;opacity:0;position:absolute;text-align:center;top:30%;transform:translate(-50%,-50%);transition:.3s;width:90%}.loading-area .feedback-sucesso .compra-sucesso{background:#3ab245;border-radius:3px;box-shadow:0 4px 8px rgba(0,0,0,.25);color:#fff;font-size:18px;padding:10px 15px;text-align:center}@keyframes vaiSumir{0%{opacity:1}99%{opacity:0}to{opacity:0}}.card-area h2,.titulo-area{opacity:1;transition:.3s}.fadeOut{opacity:0!important}@media screen and (max-width:354px){h3{font-size:22px}.cartao label span{font-size:14px}}



#BTND{
    visibility: hidden;
    position: relative;
    z-index: 5;
    margin-bottom: 300px;
    margin-left: 165px;
    margin-top: 200px;
    padding: 10px  40px;
    border-radius: 5px;
    background-color: #3ab245 ;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
} 

#BTND:hover{
    box-shadow: 0 0 5px #83bd8d,
    0 0 10px #83bd8d,
    0 0 25px #83bd8d,
    0 0 50px #83bd8d;
    transition: 0.2s;
}