*{
    box-sizing: border-box;
}
nav a{
    text-decoration: none;
    color: white  ;
    margin-left: 20px;
}
#navList a li{
    width: 160%;
    height: 100%;
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
background-color: transparent;
border-bottom: 1px solid #254245 ;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
transition: 0.75s ease;  

}

.scrolling-active{
    background-color: #DFEEEA;
transition: 0.75s ease;  
box-shadow: 0 1px 2px 0 rgba(37, 66, 69, 0.2), 0 1px 15px 0 rgba(37, 66, 69, 0.3);
border: none;

}
.scrolling-active #logoH1Titel{
 color: #254245; 
}
.scrolling-active #logoH3Titel{
    color:#62A894;
}
.scrolling-active a{
    color: #254245;
}
#logo{
    display: flex;
    width: 20%;
}
#logoImg{
    width: 5rem;
}
#logoTitel{
    margin-top: 0.8rem;
}
#logoH1Titel{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    color: white;
}
#logoH3Titel{
    font-family: 'Lobster', cursive;
    font-style: italic;
    opacity: 0.6;
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.23rem;
}
header nav{
    display: flex;
    width: 80%;
}
#search{
    width: 60%;
}
#searchBar{
    width: 85%;
    border-radius: 1rem 0 0 0;
    border: 0.15rem solid #62A894;
    margin-top: 1.3rem;
    height: 2rem;
}
#searchBar:focus{
    outline: none !important;
}
#searchBTN{
    background-color: transparent;
    border: none;
    color: tomato;
    width: 10%;
    height: 2rem;
    border: 0.15rem solid #62A894;
    border-radius: 0 0 1rem 0;
    border-left: none;
}
#searchBTN:hover{
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 0.2rem;
    border-radius: 0 0 1rem 0;
}
#navList{
    display: flex;
    /* justify-content: space-between; */
    width: 40%;
    line-height: 4.5rem;
    padding: 0 1rem;
    font-size: 120%;
    text-align: center;
}
#navList > * + *{
    margin-left: 4rem;
}
#navList li{
    width: 25%;
}
#navList li:hover{
    background-color: #3a656b;
}
#navList a li:hover {
    color: white;
}