*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Lobster', cursive;
}

header{
  background-color: #A7C4BC;
  
}

#home-color {
  background-color: #3a656b;
}
#home-color {
  color: white;
}

#logoH1Titel{
color: #254245; 
}
#logoH3Titel{
  color:#3b6b5e;
}
#navList a{
  color: #254245;
  font-weight: 600;
}



main{
    padding-top: 5vw;
    width: 100%;

    
}
#box{
    height: 500px;
    width: 80%;
    background-color: white;
    opacity: 0.7;
    position: relative;
    z-index: 1;
    border-radius:30px;
    box-shadow: 0 1px 2px 0 rgba(37, 66, 69, 0.2),0 1px 15px 0 rgba(37, 66, 69, 0.3);
}

.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 250px;
    width: 100%;

}
.row{
    padding-top: 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 100%;
    
}

.col-2{
    position: relative;
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 5vw;
    margin-top: -500px;
    z-index: 2;  
}

.col-2 h1{
    font-size: 60px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Lobster', cursive;
}

.col-2 p{
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 40px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.5s;
    font-size: 25px;
}

main .aheader{
    box-shadow: 0 1px 2px 0 rgba(37, 66, 69, 0.2),0 1px 15px 0 rgba(37, 66, 69, 0.3);
    background-image: url(../Images/home-baner.jpg);
    height: 800px;
    margin-top: -200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-2 p{
    justify-content: space-around;
    font-size: 20px;
}

.btn:hover{
    background: #563434;


}



/* ---------- Best Seller ----------- */

  .all{
      background-color: #DFEEEA;
      width: 100%;
      height: 650px;
  }

  .all h1{
      padding-left: 30px;
      padding-top: 30px;
      margin-left: 50px;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-style: italic;
  }

  .container {
    position: relative;
    width: 320px;
    margin: 0px auto 0 auto;
    perspective: 1000px;
    padding-top: 60px;
    
    
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px;
    border: 1px solid black;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  #cartNo{
    font-size: 100%;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url("../Images/Products/jam.food.jfif");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("../Images/Products/square-plates.woodcraft.jfif");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("../Images/Products/gloves.knitting.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("https://i.ytimg.com/vi/0jyq1213OoI/maxresdefault.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("https://www.arageek.com/wp-content/uploads/ibda3world/2010/04/3-1-1.jpg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("../Images/Products/ring.accessories.jfif");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("../Images/Products/baby.knitting.jfif");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://cdn.shoplo.com/83403187/products/th640/aaa5/326-liberty-print-tana-lawn-and-silk-masks-2-1.jpeg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("../Images/Products/vase.pottery.jpg");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

/* ----------- for paragraph2 ---------- */

.paragraph2 {
    /* padding: 80px; */
    display: flex;

}

.paragraph2 img:hover{
  transform: scaleX(-1);
}

.paragraph2 img{
  border: 3px solid black;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
}

.FinalP h1{
    font-size: 45px;
    padding-left: 30px;
    padding-top: 40px;
font-family: Arial, Helvetica, sans-serif;   
font-weight: 600;
font-style: italic;
  }

#secondP{
    padding: 25px;
    padding-top: 50px;
    font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
line-height: 40px;
}

.FinalP {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}


  
/* ---------  new products ---------- */

  .categories{
      margin: 0 0;
      
      background-color: #DFEEEA;
  }
  

  .col-3{
      flex-basis: 30%;
      min-width: 250px;
      margin-bottom: 40px;
      transition: 0.5s;
  }

  .col-3:hover{
    transform: scale(1.12);
    transition: 0.5s;
  }

  .col-3 img:hover{
    animation-iteration-count: infinite;      
  }

  .col-3 img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px 0;
    
  }

 

  .col-3 { 
    border: 2px #000000 solid; 
    border-radius: 30px 0;
    padding: 2px; 
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
  }

  .categories .row{
    grid-template-columns: 1fr 1fr 1fr; 
  }

  figcaption { 
    color: black; 
    font-style: italic; 
    padding: 2px; 
    text-align: center; 
    padding-bottom: 10px;
  }


/* ---------  Featured products  -------- */

  .small-container{
      
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-bottom: 20px;
  }


.col-4{
    flex-basis: 25%;
    padding-left: 50px;
    min-width: 200px;
    margin-bottom: 50px;
   
}

.col-4 img{
    border-radius: 0px 20px;
    border: 1px solid black;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
}

.small-container h1{
padding-top: 35px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-left: 50px;
}

.col-4 h4{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    
}

.col-4 p{
    padding-top: 10px;
    
}











  