#container{
    display: flex;
}

#category {
    border-color: black;
}
header{
    background-color: #DFEEEA;
}

#logoH1Titel{
 color: #254245; 
}
#logoH3Titel{
    color:#62A894;
}
#navList a{
    color: #254245;
}

#category h2 {
    text-align: center;
    width: 100%;
    background-color: #2F5D62; 
    border-radius: 20px;
    color: #DFEEEA;
    border-color: #5E8B7E;
    font-weight: 600;
    padding-top: 5px;
    height: 25px;
}

#category button {
    display: block;
    padding-bottom: 10;    
    background-color: #2F5D62;
    color: #DFEEEA;
    border-color: #5E8B7E;
    border-radius: 8px;
    
}

#knitting,#woodcraft,#Paintings,#clothes {
    font-weight: 400;
    font-style:oblique ;
    width: 150px;
    height: 100px;
    text-align: center;
}

.btnStyling{
    visibility: hidden;
    position: absolute;
    padding: 10px 20px;
    font-size: larger;
    margin-left: -280px;
    margin-top: 120px;
    font-weight: 600;

}
#product img:hover + .btnStyling , .btnStyling:hover {
    transition: 1s;
    visibility: visible;
    border: none;
    border-radius: 20px;
    background-color: tomato;
    color: white;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.3);
    
}
#product img{
    margin: 20px 90px;
}
